.quotes__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  color: #010101;
  max-width: 430px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 130px;

}

@media screen and (max-width: 1023px) {
  .quotes__title {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 767px) {
  .quotes__title {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 426px) {
  .quotes__title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 35px;
  }
}
