.block-form__image {
  display: block;
  width: 50%;
  min-height: 100%;
  background-image: url(../../../images/airport-schedule.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .block-form__image {
    display: none;
  }
}
