.header {
  display: flex;
  justify-content: space-between;
  max-width: 1377px;
  min-width: 320px;
  padding-right: 73px;
  padding-left: 74px;
  padding-top: 54px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .header {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 424px) {
  .header {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px;
  }
}
