.place__text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 144%;
}

.place__text:nth-last-of-type(1) {
  margin-bottom: 0;
}
