.block-form__title {
  max-width: 270px;
  margin: 0;
  margin-bottom: 84px;
  padding: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
}

@media screen and (max-width: 1023px) {
  .block-form__title {
    margin-bottom: 32px;

    font-size: 36px;
    line-height: 42px;
  }
}
