.intro {
  display: flex;
}

@media screen and (max-width: 768px) {
  .intro {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    flex-direction: column-reverse;
    padding: 0;
  }
}
