.quotes__subtitle {
  color: #FED1AD;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
}
