.block-form__btn {
  display: inline-flex;
  align-items: center;
  height: 28px;
  margin: 0;
  margin-left: auto;
  padding: 0 10px;

  font-size: 14px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
  vertical-align: middle;

  background-color: #000000;
  color: #DCDCDC;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.block-form__btn:hover {
  opacity: 0.75;
}
