.block-form__btn {
  display: inline-flex;
  align-items: center;
  height: 36px;
  margin: 0;
  margin-left: auto;
  padding: 0 12px;

  font-size: 16px;
  line-height: 36px;
  font-weight: normal;
  font-style: normal;
  vertical-align: middle;

  background-color: #000000;
  color: #DCDCDC;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.block-form__btn:hover {
  opacity: 0.75;
}

@media screen and (max-width: 767px) {
  .block-form__btn {
    width: 100%;
    justify-content: center;
  }
}
