.header__item {
  margin-right: 38px;
}

.header__item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 469px) {
  .header__item {
    margin-right: 15px;
  }

  .header__item:last-of-type {
    margin-right: 15px;
  }
}

