.header__item {
  margin-right: 30px;
}

.header__item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 424px) {
  .header__item {
    margin-right: 20px;
  }

  .header__item:last-of-type {
    margin-right: 20px;
  }
}

